<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип" class="logo">
    </a>
    <input type="checkbox" id="burger-toggle" class="burger-toggle"/>
    <label for="burger-toggle" class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="navbar-menu">
      <li><a href="{{ url_for('main.index') }}">Головна</a></li>
      <li><a href="{{ url_for('main.news') }}">Новини</a></li>
      <li><a href="{{ url_for('main.promotions') }}">Акції</a></li>
      <li><a href="{{ url_for('main.gallery') }}">Галерея</a></li>
      <li><a href="{{ url_for('main.contacts') }}">Контакти</a></li>
    </ul>
    <a class="btn btn-primary navbar-btn" href="{{ url_for('main.book') }}">Записатись</a>
  </div>
</nav>