{% extends "base.html" %}

{% block title %}Вхід для персоналу - СТО "Гараж 211"{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1>Вхід для персоналу</h1>
        <form method="POST" action="{{ url_for('main.login') }}">
            <label for="phone_number">Номер телефону</label>
            <input type="tel" id="phone_number" name="phone_number" required placeholder="+380 XX XXX XX XX">

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required placeholder="Ваш пароль">

            <button type="submit">Увійти</button>
        </form>
       
    </div>
</div>
{% endblock %}